@import "./styleguide.scss";

#about {
  position: relative;
  width: 100%;
  min-height: 100vh;

  &.active {
    .part {
    }
  }

  .part {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    box-sizing: border-box;

    .partTitle {
      @include Black;
    }

    &.part1 {
      background-color: $Yellow;
    }

    &.part6 {
      background-color: $Yellow;
    }

    &.partSection {
      border: 0px solid #fff;
    }
  }
}
