@import "./styleguide.scss";

#about {
  position: relative;
  width: 100%;
  min-height: 100vh;

  .part {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    box-sizing: border-box;

    &.active {
    }

    .shadowTitle {
      @include posCenter;

      &.active {
        position: fixed;
      }
    }

    &.part2 {
    }

    &.part4 {
      border-bottom: 2px solid #111;
    }
  }
}
