@import "./styleguide";

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 1920px;
  height: 60px;
  transform: translateX(-50%);
  z-index: 50;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;

  &:hover {
    h1 {
      svg {
      }
    }
  }

  h1 {
    width: 40px;
    height: 40px;

    svg {
      width: 100%;
      circle {
        animation: titleCircle 1.2s infinite;
        animation-direction: alternate;
        transform-origin: center;
        @keyframes titleCircle {
          0% {
            transform: translate(0%, 0%) scale(0.95);
          }
          100% {
            transform: translate(-5%, -7%) scale(1);
          }
        }
      }
      rect {
        animation: titleRect 1s infinite;
        animation-direction: alternate;
        transform-origin: center bottom;
        @keyframes titleRect {
          0% {
            transform: translate(0) rotate(0deg);
          }
          100% {
            transform: translate(5%, 5%) rotate(10deg);
          }
        }
      }
      polygon {
        animation: titlePolygon 1s infinite;
        animation-direction: alternate;
        transform-origin: center bottom;
        @keyframes titlePolygon {
          0% {
            transform: translate(3%, 10%) rotate(-10deg);
          }
          100% {
            transform: translate(0) rotate(0deg);
          }
        }
      }
    }
  }

  .menu {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:hover span {
    }

    span {
      @include posCenter;
      width: 100%;
      height: 2px;
      background-color: #111;

      &:nth-of-type(1) {
        transform: translate(-50%, -6px);
      }
      &:nth-of-type(2) {
      }
      &:nth-of-type(3) {
        transform: translate(-50%, 4px);
      }
    }
  }
}

#menuModal {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  overflow: hidden;
  transition: left 0.8s;
  .blink {
    width: 100%;
    height: 100%;
  }

  &.active {
    left: 0%;
    .content {
      left: 0;
      transition: left 1.2s ease-out 0s;
      > ul {
        li {
          b {
            span {
              transform: translateY(0);
              transition: transform 0.5s;
              transition-delay: calc(0.1s * var(--i));
            }
          }
        }
      }
    }
  }

  .menu {
    @include Bold;
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%) rotate(90deg);
    z-index: 1;
    cursor: pointer;
    letter-spacing: 0.1em;
  }
  .content {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: left 3s 0.2s;

    .logo {
      width: 45%;
      height: 100%;
      svg {
        width: 100%;
        height: 100%;
      }
    }

    > ul {
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      li {
        position: relative;
        display: inline-block;
        text-align: right;
        // &::after {
        //   @include XLight;
        //   content: attr(data-desc);
        //   position: absolute;
        //   bottom: 90%;
        //   right: 0;
        //   font-size: 0.8vw;
        //   text-shadow: none !important;
        // }

        b {
          @include Black;
          display: contents;
          font-size: 7vw;
          color: transparent;
          -webkit-text-stroke: 2px;
          -webkit-text-stroke-color: #111;
          a {
            display: inline-block;
            height: 100%;
            overflow: hidden;
            padding-right: 10px;
            box-sizing: border-box;
            span {
              display: inline-block;
              transform: translateY(100%);
              transition: transform 0.5s 1s;
            }
          }
        }
      }
    }
  }
}
