@import "./styleguide.scss";

#Home {
  position: relative;
  width: 100%;
  height: 100vh;

  #FaceCanvas {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #mainTitleBox {
    @include posCenter;
    width: 100%;
    text-align: center;

    .subTitle {
      font-size: 0.9vw;
      padding-left: 1.2%;
      box-sizing: border-box;
      color: #111;
      @include Regular;
    }

    #mainTitle {
      @include Black;
      transition: text-shadow 1s 2s;
      overflow: hidden;
      box-sizing: border-box;
      line-height: 1em;

      @media screen and (min-width: 900px) {
        font-size: 8vw;
        padding-right: 10px;
      }

      @media screen and (max-width: 900px) {
        font-size: 13vw;
        padding-right: 10px;
        padding-bottom: 1.2vw;
      }

      span {
        display: inline-block;
        transform: translateY(100%);
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: #111;
        color: #111;
      }

      &.active {
        span {
          transform: translateY(0);
          color: #fff;
          -webkit-text-stroke: 2px;
          -webkit-text-stroke-color: #111;
          transition: color 0.5s 1s, text-stroke 0.5s 1s,
            text-stroke-color 0.5s 1s, transform 0.5s calc(0.1s * var(--i));
        }
      }
    }
  }
}
