@import "./styleguide.scss";

.shadowTitle {
  @include Black;
  transition: text-shadow 1s 2s;
  overflow: hidden;
  padding-right: 10px;
  box-sizing: border-box;
  line-height: 1em;

  @media screen and (min-width:900px){
    font-size: 8vw;    
  }

  @media screen and (max-width:900px){
    font-size: 10vw;    
  }

  span {
    display: inline-block;
    transform: translateY(100%);
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #111;
    color: #111;
  }

  &.active {
    span {
      transform: translateY(0);
      color: #fff;
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: #111;
      transition: color 0.5s 1s, text-stroke 0.5s 1s, text-stroke-color 0.5s 1s,
        transform 0.5s calc(0.1s * var(--i));
    }
  }
}
