@import "./styleguide.scss";

.work {
  position: relative;
  width: 100%;
  min-height: 100vh;

  .part {
    position: relative;
    width: 100%;
    height: 100vh;
    font-size: 5vw;
    box-sizing: border-box;

    .shadowTitle {
      @include posCenter;
      text-align: center;
      width: 100%;

      &.active {
        position: fixed;
      }
    }

    &.active {
    }

    &.part1 {
      height: 150vh;
    }

    &.part2 {
      font-size: 1vw;
      height: initial;
      background-color: $Red;
      mix-blend-mode: multiply;
      padding: 120px 100px;
      box-sizing: border-box;
      color: #fff;

      .desc {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
      }

      .descLeft {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .descTitle {
          @include Bold;
          font-size: 4vw;
          line-height: 1em;
        }

        a {
          padding: 10px 0;
          width: 30%;
          color: #111;
          background-color: #fff;
          border-radius: 100px;
          text-align: center;
          transition: transform 0.2s;
          &:hover {
            transform: scale(1.1);
          }
          &:active {
            transform: scale(0.99);
          }

          span {
            display: inline-block;
            margin-right: 4px;
          }
          svg {
            fill: #111;
            width: 0.6vw;
          }
        }
      }
      .descRight {
        width: 60%;

        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 50px;

          b {
            @include Bold;
            display: block;
            margin-bottom: 8px;
            font-size: 0.65em;
            opacity: 0.5;
          }

          span {
            display: block;
          }
        }

        p {
          @include XLight;
        }
      }
    }

    &.part4 {
      border-bottom: 2px solid #111;
    }
  }
}

.work-theKingOfMains {
  .part {
    &.part2 {
      background-color: $kom;
    }
  }
}
