@import "./styleguide.scss";

.work {
  position: relative;
  width: 100%;
  min-height: 100vh;
  mix-blend-mode: multiply;

  .part {
    position: relative;
    width: 100%;
    font-size: 5vw;
    box-sizing: border-box;

    .shadowTitle {
      @include posCenter;
      text-align: center;
      width: 100%;

      &.active {
        position: fixed;
      }
    }

    &.active {
    }

    &.part1 {
      height: 150vh;
    }

    &.part2,
    &.part3 {
      padding: 120px 100px;
      box-sizing: border-box;
    }

    &.part2 {
      font-size: 1vw;
      background-color: $Red;
      color: #fff;

      .desc {
        width: 80%;
        max-width: 1536px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
      }

      .descLeft {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .descTitle {
          @include Bold;
          font-size: 4vw;
          line-height: 1em;
        }

        a {
          padding: 10px 0;
          width: 30%;
          color: #111;
          background-color: #fff;
          border-radius: 100px;
          text-align: center;
          transition: transform 0.2s;
          &:hover {
            transform: scale(1.1);
          }
          &:active {
            transform: scale(0.99);
          }

          span {
            display: inline-block;
            margin-right: 4px;
          }
          svg {
            fill: #111;
            width: 0.6vw;
          }
        }
      }
      .descRight {
        width: 60%;

        .info {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 50px;

          b {
            @include Bold;
            display: block;
            margin-bottom: 8px;
            font-size: 0.65em;
            opacity: 0.5;
          }

          span {
            display: block;
          }
        }

        p {
          @include XLight;
        }
      }
    }

    &.part3 {
      background-color: #f9f9f9;
      font-size: 1vw;
      > ul {
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        color: #111;
        > li {
          margin: 0 auto;
          margin-bottom: 10%;

          &.multi {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &.end {
              align-items: flex-start;
              justify-content: flex-end;

              > div {
                width: 33.33%;
              }

              > .bigImg {
                width: 60%;
              }

              .textBox {
                padding-left: 5%;
                box-sizing: border-box;

                p {
                  b {
                    @include Bold;
                  }
                }
              }
            }

            &.triple {
              > div {
                width: 30%;
              }
            }

            img {
              width: 100%;

              &.m,
              &.s {
                box-sizing: border-box;
                background-color: rgba(238, 238, 238, 0.8);
              }

              &.m {
                padding: 40px 80px;
              }

              &.s {
                padding: 100px 80px;
              }
            }
          }

          img,
          p.desc {
            width: 90%;
            margin: 0 auto;
          }
          img {
            display: block;
          }
          p.desc {
            text-align: right;
          }

          .imgBox {
            position: relative;

            .gif {
              @include posCenter;
            }
          }
        }
      }
    }
  }
}

.work-theKingOfMains {
  .part {
    &.part2 {
      background-color: $kom;
    }
  }
}
